$default-background-color: #F7F8F9;
$default-light-gray: hsl(0, 0%, 31%);
$large-font-size: 15vmin;
$medium-font-size: 5vmin;

@mixin no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 800px) {

    // The Buttons Grid for Language Stage
    #stage-language-buttons {
        flex-direction: column;
    }

}


//#region Fonts
$font-display-black: SFProDisplay-Black;

@font-face {
    font-family: $font-display-black;
    src: url("/resources/SF-Pro-Display-Black.otf") format("opentype");
}

$font-display-bold: SFProDisplay-Bold;

@font-face {
    font-family: $font-display-bold;
    src: url("/resources/SF-Pro-Display-Bold.otf") format("opentype");
}

$font-display-heavy: SFProDisplay-Heavy;

@font-face {
    font-family: $font-display-heavy;
    src: url("/resources/SF-Pro-Display-Heavy.otf") format("opentype");
}

$font-display-medium: SFProDisplay-Medium;

@font-face {
    font-family: $font-display-medium;
    src: url("/resources/SF-Pro-Display-Medium.otf") format("opentype");
}

$font-display-regular: SFProDisplay-Regular;

@font-face {
    font-family: $font-display-regular;
    src: url("/resources/SF-Pro-Display-Regular.otf") format("opentype");
}

$font-display-semibold: SFProDisplay-Semibold;

@font-face {
    font-family: $font-display-semibold;
    src: url("/resources/SF-Pro-Display-Semibold.otf") format("opentype");
}

@mixin font-black {
    font-family: $font-display-black
}

@mixin font-bold {
    font-family: $font-display-bold
}

@mixin font-heavy {
    font-family: $font-display-heavy
}

@mixin font-medium {
    font-family: $font-display-medium
}

@mixin font-regular {
    font-family: $font-display-regular
}

@mixin font-semibold {
    font-family: $font-display-semibold
}
//#endregion

//#region Basics
header {
    background-color: #F7F8F9;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;

    overscroll-behavior-x: none;
    background-color: $default-background-color;

    overflow: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;

    &>div {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    &>div.hidden {
        opacity: 0;
    }
}

br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 1.4vmin;
    /* change this to whatever height you want it */
}

label,
button,
span,
p {
    margin: 0px;
    @include font-regular()
}

button {
    cursor: pointer;
}

//#endregion

//#region Mixin 
@mixin home-section-content-shadow {
    -webkit-box-shadow: 0px 0px 26px 1px rgba(66, 68, 90, 0.045);
    -moz-box-shadow: 0px 0px 26px 1px rgba(66, 68, 90, 0.045);
    box-shadow: 0px 0px 26px 1px rgba(66, 68, 90, 0.045);
}

@mixin no-shadow {
    -webkit-box-shadow: 0px 0px 26px 1px rgba(66, 68, 90, 0);
    -moz-box-shadow: 0px 0px 26px 1px rgba(66, 68, 90, 0);
    box-shadow: 0px 0px 26px 1px rgba(66, 68, 90, 0);
}

.no-shadow {
    @include no-shadow();
    background-color: transparent;
}

@mixin default-shadow {
    -webkit-box-shadow: 0px 0px 31px 12px rgba(226, 226, 226, 0.4);
    -moz-box-shadow: 0px 0px 31px 12px rgba(226, 226, 226, 0.4);
    box-shadow: 0px 0px 31px 12px rgba(226, 226, 226, 0.4);
}

@mixin pill-button-label {
    @include no-select();
    @include font-semibold();
    font-size: calc(9px + 1.2vmin);
}

@mixin pill-button {
    @include default-shadow();
    @include pill-button-label();
    border: none;
    background-color: white;
    padding: calc(9px + 1.1vmin) calc(19px + 1.1vmin);
    border-radius: 100em;
    pointer-events: all;

    display: grid;
    grid-auto-flow: column;
    column-gap: 1.4vmin;
    align-items: center;

    &>label {
        @include pill-button-label();
        pointer-events: none;
    }

    &>svg {
        @include no-select();
        width: 2.3vmin;
        height: 2.3vmin;
        pointer-events: none;
    }
}

//#endregion

//#region Reusables
#reusables {
    display: none;
}

.left-right-arrow-container {
    display: grid;
    column-gap: 2.4vmin;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: flex-end;

    &>svg {
        $diameter: 6.7vmin;
        $min-diameter: 40px;
        width: $diameter;
        height: $diameter;
        min-width: $min-diameter;
        min-height: $min-diameter;
        pointer-events: all;
        cursor: pointer;
        transition: scale 0.3s;
    }

    &>svg:active {
        opacity: 0.7;
    }

    &>svg:first-child {
        transform: scaleX(-1);
    }

    &>svg.hidden, &>svg.fully-hidden {
        pointer-events: none;
        cursor: default;
    }
    &>svg.hidden {
        opacity: 0.5;
    }
    &>svg.fully-hidden {
        opacity: 0;
    }
}

//#endregion

//#region Welcome
#stage-welcome {
    display: grid;
    width: 100vw;
    height: 100vh;
    position: relative;

    &>div {
        opacity: 0;

        &>div {
            position: absolute;
        }

        &>div:first-child {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            // Welcome Label
            &>label:first-child {
                @include font-heavy();
                font-size: $large-font-size;
                transform: translateY(15%) scale(0.93);
            }

            // About Me Label
            &>label:last-child {
                font-size: $medium-font-size;
                color: $default-light-gray;
                transform: translateY(-25%) scale(0.93);
                text-align: center;
                opacity: 0;
            }
        }

        &>div:last-child {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            transform: scale(0.94, 0.95);

            // Take a look
            &>button {
                @include pill-button();
                margin-bottom: 5vh;
            }

            &>button:active {
                opacity: 0.8;
            }
        }
    }
}

//#endregion

//#region Language
#stage-language {
    display: grid;
    width: 100vw;
    height: 100vh;
    position: relative;

    &>div {
        position: absolute;
    }

    &>div {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        &>div:first-child {
            display: flex;
            width: auto;
            height: auto;
            align-items: center;
            justify-content: center;
            align-items: center;
            column-gap: 8vw;
            row-gap: 10vmax;

            &>button {
                width: 38vmin;
                min-width: 29vmax;
                height: min-content;
                border: none;
                margin: 0px;
                padding: 0px;
                background-color: transparent;
                cursor: pointer;
                pointer-events: all;
                opacity: 0.35;
                transition: opacity 0.2s, transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);

                &>svg {
                    @include no-select();
                    pointer-events: none;
                }
            }

            &>button:active {
                opacity: 0.2;
            }

            &>button.selected {
                opacity: 1;
            }

        }
    }

    &>div:last-child {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 1.4s;
        pointer-events: none;

        // Take a look
        &>button {
            @include pill-button();
            margin-bottom: 5vh;
        }

        &>button:active {
            opacity: 0.8;
        }
    }

    &>div:last-child.visible {
        opacity: 1;
    }

}

//#endregion

$home-section-width: 90vw;

//#region Home
#stage-home::-webkit-scrollbar {
    display: none;
}

#stage-home {
    display: grid;
    width: 100vw;
    height: auto;
    grid-template-rows: 100vh auto;

    // Home Header 
    &>div:first-child {
        top: 0px;
        position: fixed;
        display: grid;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        transition: transform 1.4s, opacity 2.8s;
        opacity: 0;

        // Center Content Wrapper
        &>div:first-child {
            display: flex;
            top: 0;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;

            // Center Content Inner Wrapper
            &>div {

                // Center Content
                &>div:first-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transition: transform 0.4s;

                    &>div {
                        $width: 230px;
                        width: $width;
                        height: calc(230px * 1.0100);
                        position: relative;

                        &>img {
                            @include no-select();
                            pointer-events: none;
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            width: 100%;
                            height: 100%;
                            transition: transform 2.4s cubic-bezier(0.33, 1, 0.68, 1);
                            transform: scale(1.15) translateY(-8%)
                        }
                    }

                    &>label {
                        @include no-select();
                        @include font-heavy();
                        padding-top: 27px;
                        font-size: 3.2em;
                        transition: transform 2.4s cubic-bezier(0.33, 1, 0.68, 1);
                        transform: scale(1.1)
                    }

                    &>span {
                        @include no-select();
                        padding-top: 8px;
                        font-size: 1.2em;
                        text-align: center;
                        width: 300px;
                        transition: transform 2.4s cubic-bezier(0.33, 1, 0.68, 1);
                        transform: scale(1.05) translateY(8%)
                    }
                }
            }
        }

        // Arrow Down
        &>div:last-child {
            position: absolute;
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: flex-end;
            opacity: 0.34;
            transition: opacity 7s;

            &>div {
                height: 10vmin;
                width: 10vmin;
                min-width: 80px;
                min-height: 80px;
                margin-bottom: 1vmin;
            }
        }

        &>div:last-child.hidden {
            opacity: 0;
            transition: opacity 0.7s;
        }
    }

    // Home Sections
    &>div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(100vh);
        z-index: 100;
        background-color: $default-background-color;

        // Section
        &>div {
            display: grid;
            width: $home-section-width;
            grid-template-rows: min-content minmax(100px, min-content);
            background-color: $default-background-color;
            -webkit-box-shadow: 0px 0px 39px 9px rgba(226, 226, 226, 0.6);
            -moz-box-shadow: 0px 0px 39px 9px rgba(226, 226, 226, 0.6);
            box-shadow: 0px 0px 39px 9px rgba(226, 226, 226, 0.6);
            padding-top: 3vmin;
            margin-bottom: 9vmin;
            border-radius: 4vmin;
            height: min-content;

            // Labels
            &>div:first-child {
                display: grid;
                row-gap: 1.4vmin;
                margin-left: 4.3vmin;
                margin-right: 4.3vmin;
                padding-bottom: 5vmin;

                &>label {
                    @include font-heavy();
                    @include no-select();
                    font-size: calc(1em + 2.9vmin);
                }

                &>span {
                    @include no-select();
                    font-size: calc((1em + 2.9vmin) * 0.45);
                    width: 53%;
                    max-width: 450px;
                    line-height: 117%;
                }
            }

            // Content
            &>div:last-child {}
        }

    }
}

//#endregion

$project-preview-skew-transform: skew(1deg, 10deg) rotate(1deg);

//#region Home Sections - Projects 
.stage-home-projects-section-content {
    height: 56vmin;
    min-height: 40vh;
    width: 100%;
    position: relative;

    &>div {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &>div:first-child::-webkit-scrollbar {
        display: none;
    }

    // Scroller/Projects Container
    &>div:first-child {
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        column-gap: 5vmin;

        &>div:first-child {
            margin-left: 5vmin;
        }
        &>div:last-child {
            margin-right: 5vmin;
        }
        // Project
        &>div {
            @include home-section-content-shadow();
            background-color: white;
            height: calc(100% - 7vmin);
            width: 80vmin;
            max-width: 90vw;
            margin-top: 2vmin;
            border-radius: 2.5vmin;
            position: relative;

            &>div {
                position: absolute;
                height: 100%;
            }

            // Preview Overlay
            &>div:first-child {
                display: flex;
                justify-content: space-between;
                padding-left: 2.7vmin;
                padding-right: 2.7vmin;
                padding-top: 2.7vmin;
                z-index: 1000;
                width: calc(100% - 2.7vmin * 2);
                pointer-events: none;

                // Labels
                &>div:first-child {
                    display: grid;
                    row-gap: 1vmin;
                    height: min-content;

                    &>label {
                        @include font-bold();
                        @include no-select();
                        font-size: calc(0.8em + 2.4vmin);
                    }

                    &>span {
                        @include no-select();
                        font-size: calc(0.3em + 1.5vmin);
                        width: 63%;
                        max-width: 480px;
                        line-height: 133%;
                    }
                }

                // Tag
                &>div:last-child {
                    display: flex;
                    background-color: #4894E3;
                    height: min-content;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100em;

                    &>label {
                        @include font-medium();
                        @include no-select();
                        color: white;
                        font-size: 1.9vmin;
                        margin: 1vmin 1.9vmin;
                    }
                }
            }

            // Preview 
            &>div:last-child {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }
    }

    // Scroller Overlay
    &>div:last-child {
        display: flex;
        justify-content: end;
        right: 3vmin;
        bottom: 3vmin;
        width: min-content;
        height: min-content;
    }
}

//#endregion

//#region Home Sections - Projects - Lotte
.lotte-preview {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &>div {
        position: absolute;
    }

    &>div:first-child {
        bottom: 6vmin;
        right: 5.1vmin;
        transform: $project-preview-skew-transform;
        
        &>img {
            width: 34vmin;
            border-radius: 1.2vmin;
            -webkit-box-shadow: 1px 7px 17px 1px rgba(224, 224, 224, 0.5);
            -moz-box-shadow: 1px 7px 17px 1px rgba(224, 224, 224, 0.5);
            box-shadow: 1px 7px 17px 1px rgba(224, 224, 224, 0.5);
        }
    }

    &>div:last-child {
        bottom: 13.2vmin;
        right: 16.2vmin;
        transform: $project-preview-skew-transform;
    
        &>lottie-player {
            height: 14.2vmin;
            width: 14.2vmin;
            opacity: 1;
        }
    }
}
//#endregion

//#region Home Sections - Projects - Pallet
.pallet-renderer-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    overflow: hidden;

    &>div {
        width: 80%;
        height: 100%;
    }
}

//#endregion

//#region Home Sections - Projects - Scanner 
.scanner-preview {
    width: 100%;
    height: 100%;
    position: relative;

    &>*:first-child {
        bottom: 5vh;
        right: 6vmin;
        position: absolute;
        width: 40%;
        transform: $project-preview-skew-transform;
    }
}
//#endregion

//#region Home Sections - Projects - Bag 
.bag-preview {
    width: 100%;
    height: 100%;
    position: relative;

    &>*:first-child {
        bottom: 2vh;
        right: 4vmin;
        position: absolute;
        width: 54%;
        transform: $project-preview-skew-transform;
    }
}
//#endregion

//#region Home Sections - Projects - Caravan 
.caravan-preview {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &>*:first-child {
        bottom: -3vh;
        right: 4vmin;
        position: absolute;
        width: 77%;
        transform: $project-preview-skew-transform;
    }
}
//#endregion


//#region Home Sections - Triple
@media (max-aspect-ratio: 10/9) {
    .stage-home-triple-section {

        // Scroller
        &>div:first-child {

            // Grid
            &>div {

                // Column
                &>div {
                    width: $home-section-width;
                    padding-top: 2vmax;

                    // Labels
                    &>div:last-child {

                        &>div {
                            &>label {
                                transform: scale(1.2);
                            }

                            &>span {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-aspect-ratio: 10/9) {
    .stage-home-triple-section {
        &>div:last-child {
            &>div {
                opacity: 1;
                transform: scale(0);
            }
        }
    }
}

.stage-home-triple-section {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;

    &>div:first-child::-webkit-scrollbar {
        display: none;
    }

    // Scroller
    &>div:first-child {
        display: flex;
        overflow-x: scroll;
        overflow-y: visible;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: $home-section-width;

        // Grid
        &>div {
            display: grid;
            grid-auto-flow: column;
            column-gap: 0%;
            height: min-content;
            width: 100%;
            padding-bottom: 6vmin;
            padding-top: 2vmax;

            // Column
            &>div {
                min-width: calc(#{$home-section-width} / 3);
                display: grid;
                grid-auto-flow: row;
                grid-template-rows: auto auto min-content;
                row-gap: 0px;
                height: min-content;


                // Vector 
                &>div:first-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: calc(1em + 3vmin);

                    &>div {
                        display: flex;
                        width: 45%;
                        min-width: 20vw;
                        justify-content: center;
                        align-items: center;

                        &>*:first-child {
                            overflow: visible;
                            max-width: 80%;
                            min-height: 22.6vw;
                            border-radius: 0.73vw;
                    
                            @include home-section-content-shadow();
                        }
                        &>*:first-child.no-shadow {
                            @include no-shadow();
                            border-radius: 0;
                        }
                    }
                }

                // Labels 
                &>div:last-child {
                    display: flex;
                    justify-content: center;
                    height: min-content;

                    &>div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 83%;
                        max-width: 330px;
                        
                        &>label {
                            @include font-bold();
                            @include no-select();
                            font-size: calc(1.1em + 0.5vw);
                            text-align: center;
                            padding-bottom: calc(0.2em + 0.3vw);
                        }

                        &>p {
                            display:block;
                            @include no-select();
                            font-size: calc(0.6em + 0.5vw);
                            line-height: 130%;
                            text-align: center;

                            &>span {
                                display: block;
                                margin-bottom: 1.5vmin;
                            }

                            &>span:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    // Scroller Overlay 
    &>div:last-child {
        position: absolute;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            width: 100%;
            padding: 0px 4vmin;
        }
    }

}

//#endregion

//#region Home Sections - Triple - Practice
.process-design {
    min-width: 120%;
}

.process-map {
    transform: scale(0.93) translateY(1.2vmin) rotateZ(0deg);
}

.process-code {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(1.8vmin);
    margin-top: -1vmin;


    &>svg {
        transform: scale(1.19);
        overflow: visible;
        height: 100%;
    }
}
//#endregion

//#region Home Sections - Vector 
.stage-home-vector-section {
    @include no-select();
    margin: 0px 2vmin;
    margin-bottom: 2vmin;
}

//#endregion

//#region Home Sections - Vector - Knowledge
.knowledge-svg {
    $margin-left: 6vmin;
    $margin-right: 5vmin;
    margin-top: -3vmin;
    margin-left: $margin-left;
    margin-right: $margin-right;
    margin-bottom: 7vmin;

    overflow: visible;
    width: calc(100% - #{$margin-left} - #{$margin-right});

    &>g {
        &>g {
            &>path:first-child {
                stroke: white;
                stroke-width: 0vmin;
                transition: 3s;
            }
        }

        &>g:hover {
            &>path:first-child {
                stroke: white;
                stroke-width: 2.8vmin;
                transition: 0.35s;
            }
        }
    }
}

//#endregion

//#region Home Sections - Vector - Background
.home-stage-background-landscape {
    width: calc(100% - 10vmin);
    padding: 5vmin;
    overflow: visible;
}
//#endregion