/**
 * Helvetica Neue Normal
*/
#resources {
  display: none;
}

.rotated {
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

body {
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: #F6F6F6;
  scroll-behavior: none;
  overflow: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body label {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  color: #111111;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

canvas {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content,
.overlay {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  position: fixed;
}

.overlay {
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

button {
  pointer-events: all;
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

#configurator-top-overlay {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Leading */
#overlay-texts-container {
  height: min-content;
  display: grid;
  row-gap: 0px;
  width: 46%;
  position: relative;
  top: 27px;
  left: 27px;
}

#overlay-texts-container > label:first-child {
  font-family: HelveticaNeueBold, HelveticaNeue-Bold, Helvetica Neue Bold, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 700;
  font-size: 3.4em;
}

#overlay-texts-container > label:last-child {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

/* Trailing  */
#overlay-buttons-container {
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-right: 27px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 13px;
}

#overlay-buttons-container button {
  border: solid 1pt #E5E5E5;
  outline: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
  height: 39px;
  border-radius: 100em;
  cursor: pointer;
  pointer-events: all;
  padding: 0px 19px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 9px;
}

#overlay-buttons-container button label {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
}

#overlay-buttons-container button svg {
  width: 14px;
  height: 12.7px;
  min-width: 14px;
  min-height: 12.7px;
  display: flex;
}

#overlay-buttons-container button:active {
  opacity: 0.7;
}

#overlay-buttons-container button:first-child {
  border: solid 1pt #E5E5E5;
  outline: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
  height: 39px;
  border-radius: 100em;
  cursor: pointer;
  pointer-events: all;
  padding: 0px 19px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 9px;
  width: 39px;
}

#overlay-buttons-container button:first-child label {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
}

#overlay-buttons-container button:first-child svg {
  width: 14px;
  height: 12.7px;
  min-width: 14px;
  min-height: 12.7px;
  display: flex;
}

#overlay-buttons-container button:first-child:active {
  opacity: 0.7;
}

#overlay-buttons-container button:first-child svg {
  width: 20.5px;
  height: 16.4px;
  min-width: 20.5px;
  min-height: 16.4px;
}

#configurator-sheet-overlay {
  width: 100%;
  height: 100vh;
  align-items: flex-end;
}

#configurator-sheet {
  display: flex;
  background-color: white;
  width: 100%;
  height: 180px;
  overflow-y: hidden;
  padding-top: 19px;
  pointer-events: all;
}

#configurator-sheet-headered {
  padding: 0px 27px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#configurator-sheet-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% auto 25%;
  width: 100%;
  height: 39px;
  max-height: 39px;
  align-items: center;
  overflow: visible;
}

#configurator-sheet-header button {
  border: solid 1pt #E5E5E5;
  outline: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
  height: 39px;
  border-radius: 100em;
  cursor: pointer;
  pointer-events: all;
  padding: 0px 19px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 9px;
}

#configurator-sheet-header button label {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
}

#configurator-sheet-header button svg {
  width: 14px;
  height: 12.7px;
  min-width: 14px;
  min-height: 12.7px;
  display: flex;
}

#configurator-sheet-header button:active {
  opacity: 0.7;
}

#configurator-sheet-header > div {
  display: flex;
  justify-content: center;
}

#configurator-sheet-header > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  width: 80%;
  max-width: 400px;
}

#configurator-sheet-header > div > div > svg {
  width: 25px;
  height: 17px;
  pointer-events: all;
  cursor: pointer;
}

#configurator-sheet-header > div > div > div {
  display: grid;
  grid-auto-flow: column;
  column-gap: 9px;
}

#configurator-sheet-header > div > div > div label {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  font-size: 1.3em;
}

#configurator-sheet-header > div > div > div label:first-child {
  letter-spacing: 0.6px;
}

#configurator-sheet-header > div > div > div label:last-child {
  letter-spacing: 2px;
  color: #BDBDBD;
}

#configurator-sheet-header > div:first-child {
  justify-content: start;
}

#configurator-sheet-header > div:first-child > div {
  display: grid;
  grid-auto-flow: column;
  column-gap: 18px;
  justify-content: start;
  width: auto;
  max-width: none;
}

#configurator-sheet-header > div:first-child > div > button:first-child svg {
  width: 18px;
  height: 20px;
}

#configurator-sheet-header > div:last-child {
  justify-content: end;
}

.boards-configurator-sheet-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 
    Grid containing (vertical)
    - Add buttons grid (horizontal)
    - Boards grid (horizontal)
    - Total width/depth, grid (horizontal) 
  */
}

.boards-configurator-sheet-component .dimmed {
  opacity: 0.3;
}

.boards-configurator-sheet-component span {
  pointer-events: all;
  cursor: pointer;
}

.boards-configurator-sheet-component span:focus {
  outline: none;
}

.boards-configurator-sheet-component > div:first-child {
  width: 100%;
  display: flex;
  transition: height 0.5s, opacity 0.25s;
  height: 39px;
}

.boards-configurator-sheet-component > div:first-child > div:first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.boards-configurator-sheet-component > div:first-child > div:first-child button {
  border: solid 1pt #E5E5E5;
  outline: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
  height: 39px;
  border-radius: 100em;
  cursor: pointer;
  pointer-events: all;
  padding: 0px 19px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 9px;
  transition: background-color 0.1s, color 0.1s;
}

.boards-configurator-sheet-component > div:first-child > div:first-child button label {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
}

.boards-configurator-sheet-component > div:first-child > div:first-child button svg {
  width: 14px;
  height: 12.7px;
  min-width: 14px;
  min-height: 12.7px;
  display: flex;
}

.boards-configurator-sheet-component > div:first-child > div:first-child button:active {
  opacity: 0.7;
}

.boards-configurator-sheet-component > div:first-child > div:first-child button.selected {
  background-color: #D1BC96;
  color: white;
  border-color: transparent;
}

.boards-configurator-sheet-component > div:first-child > div:first-child > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.boards-configurator-sheet-component > div:first-child > div:first-child > div > div {
  display: grid;
  column-gap: 16px;
  grid-auto-flow: column;
  align-items: center;
}

.boards-configurator-sheet-component > div:first-child > div:first-child > div > div > label {
  font-family: HelveticaNeueBlack, HelveticaNeue-Black, Helvetica Neue Black, HelveticaNeue, Helvetica Neue, Roboto-Black, Roboto Black, Arial Black, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 0.93em;
  color: #C3C3C3;
  transform: translateY(-2px);
}

.boards-configurator-sheet-component > div:first-child > div button {
  border: solid 1pt #E5E5E5;
  outline: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
  height: 39px;
  border-radius: 100em;
  cursor: pointer;
  pointer-events: all;
  padding: 0px 19px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 9px;
}

.boards-configurator-sheet-component > div:first-child > div button label {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  font-size: 14.5px;
  pointer-events: none;
}

.boards-configurator-sheet-component > div:first-child > div button svg {
  width: 14px;
  height: 12.7px;
  min-width: 14px;
  min-height: 12.7px;
  display: flex;
}

.boards-configurator-sheet-component > div:first-child > div button:active {
  opacity: 0.7;
}

.boards-configurator-sheet-component > div:nth-child(2)::-webkit-scrollbar {
  display: none;
}

.boards-configurator-sheet-component > div:nth-child(2) {
  width: calc(100vw - 54px);
  left: 0px;
  height: 100%;
  position: relative;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.boards-configurator-sheet-component > div:nth-child(2) > div {
  height: 100%;
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div {
  display: grid;
  grid-template-rows: auto auto auto;
  height: min-content;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:first-child {
  height: 35px;
  overflow: hidden;
  transition: height 0.15s;
  display: grid;
  grid-template-columns: 37px auto 37px;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:first-child svg {
  pointer-events: all;
  cursor: pointer;
  height: 35px;
  width: min-content;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:first-child svg:active {
  opacity: 0.5;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:first-child > div:nth-child(2) {
  display: flex;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:first-child > div:nth-child(2) > div {
  position: relative;
  width: 100%;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:first-child > div:nth-child(2) > div > svg {
  position: absolute;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) {
  display: flex;
  width: 100%;
  height: max-content;
  justify-items: center;
  align-items: center;
  padding-bottom: 23px;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div {
  width: 100%;
  margin: 0px 37px;
  max-height: 140px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content 126px;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-board-input {
  position: relative;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-board-input > div {
  position: absolute;
  right: -2%;
  top: -26%;
  width: 19px;
  height: 19px;
  background-color: #D1BC96;
  display: flex;
  border-radius: 100em;
  border: solid 2px white;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-board-input > div > label {
  font-family: HelveticaNeueBlack, HelveticaNeue-Black, Helvetica Neue Black, HelveticaNeue, Helvetica Neue, Roboto-Black, Roboto Black, Arial Black, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 900;
  position: relative;
  height: min-content;
  width: min-content;
  left: 50%;
  top: 50%;
  font-size: 0.74em;
  color: white;
  transform: translate(-50%, -50%);
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-board-input > span {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  text-align: center;
  border-radius: 100em;
  display: inline-flex;
  align-items: center;
  transition: opacity 1.5s;
  -webkit-touch-callout: none;
  user-select: none;
  font-size: 1.14em;
  color: white;
  background-color: #D1BC96;
  padding: 10.3px 22px;
  min-width: 46px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-board-input > span.placeholder {
  color: #E3D6BF;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-spacing-input {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto min-content auto min-content;
  align-items: center;
  margin: 0px 11px;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-spacing-input > div:first-child,
.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-spacing-input > div:last-child {
  border-left: solid 1px #E5E5E5;
  height: 8px;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-spacing-input > div:nth-child(4),
.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-spacing-input > div:nth-child(2) {
  border-bottom: solid 1px #E5E5E5;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:nth-child(2) > div > .boards-component-spacing-input > span {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  text-align: center;
  border-radius: 100em;
  display: inline-flex;
  align-items: center;
  transition: opacity 1.5s;
  -webkit-touch-callout: none;
  user-select: none;
  color: #C3C4C4;
  font-size: 0.8em;
  padding: 0px 15px 0px 15px;
  border: solid 1px #E5E5E5;
  height: 30px;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:last-child {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto min-content auto min-content;
  align-items: center;
  margin: 0px 37px;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:last-child > div:first-child,
.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:last-child > div:last-child {
  border-left: solid 1px #E5E5E5;
  height: 8px;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:last-child > div:nth-child(4),
.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:last-child > div:nth-child(2) {
  border-bottom: solid 1px #E5E5E5;
}

.boards-configurator-sheet-component > div:nth-child(2) > div > div > div:last-child > span {
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, HelveticaNeue, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-weight: 500;
  text-align: center;
  border-radius: 100em;
  display: inline-flex;
  align-items: center;
  transition: opacity 1.5s;
  -webkit-touch-callout: none;
  user-select: none;
  color: #C3C4C4;
  font-size: 0.8em;
  padding: 0px 15px 0px 15px;
  border: solid 1px #E5E5E5;
  height: 30px;
}

.boards-configurator-sheet-component > div:last-child {
  height: 0px;
  transition: height 0.5s, margin 0.5s;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  overflow: hidden;
}

.boards-configurator-sheet-component > div:last-child > div {
  display: grid;
  grid-auto-flow: column;
  column-gap: 18px;
}

.boards-configurator-sheet-component > div:last-child > div > button {
  height: 30px;
  width: 30px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: solid 1px #E5E5E5;
  border-radius: 100em;
  position: relative;
}

.boards-configurator-sheet-component > div:last-child > div > button > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.boards-configurator-sheet-component > div:last-child > div > button.disabled {
  pointer-events: none;
}

.boards-configurator-sheet-component > div:last-child > div > button.disabled > svg {
  opacity: 0.22;
}

.boards-configurator-sheet-component > div:last-child > div > button:active {
  opacity: 0.6;
}

#configurator-sheet-content-container {
  display: flex;
  height: 100%;
}

#configurator-sheet-content-choosebase {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#configurator-sheet-content-choosebase > div {
  height: 59.5%;
  display: grid;
  grid-auto-flow: column;
  column-gap: 40px;
}

#configurator-sheet-content-choosebase > div > button {
  border: solid 1pt #E5E5E5;
  outline: none;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 240px;
  display: grid;
  row-gap: 9px;
}

#configurator-sheet-content-choosebase > div > button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  pointer-events: none;
  cursor: none;
}

#configurator-sheet-content-choosebase > div > button > div > svg {
  height: 52px;
}

#configurator-sheet-content-choosebase > div > button > label {
  font-family: HelveticaNeue, Helvetica Neue, HelveticaNeueRoman, HelveticaNeue-Roman, Helvetica Neue Roman, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 1.08em;
  color: #959595;
  pointer-events: none;
  cursor: none;
}

#configurator-sheet-content-choosebase > div > button.selected {
  border-color: #D0BC96;
}

#configurator-sheet-content-topdeck {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=configurator.css.map */